[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
pydub = "*"
tinytag = "*"
tqdm = "*"
sqlalchemy = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.6"
